@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<Product>
<div class="text-center">
    <div class="display-4">
        All products
    </div>
    <ul style="display: inline-block; text-align: left;">
        @foreach (var product in Model)
        {
            <li>Id: @product.Id; Name: @product.Name; Price: @product.Price (@product.CreatedDate.ToShortDateString())</li>
        }
    </ul>

    <p style="font-size:20px"><a href="/Home/Index">Back to main page</a></p>
</div>
